<html>
<body>


   <div>
    <h1>My Cart </h1>
    <a align="right" href="/designs" class="continue">Continue Shopping</a>
  </div>


  <div class="row">
    <% @products.each do |product| %>
    <div class="d1">
      <h2> <%= product.design.name %> </h2>
      <img class= "basketpics" <%= cl_image_tag product.design.photo,:width => 0.4, :crop=>"scale" %> >
    </div>

    <div class="d2">
      <p> <em>Product Description </em></p>

      <dl>
        <dt>Size:</dt><dd> <%= product.size %> </dd>
        <dt>Quantity:</dt><dd> <%= product.quantity %> </dd>
        <dt>Price:</dt><dd> <%= product.unit_price %> </dd>
        </dl>
    </div>
    <% end %>
  <div/>




</body>
<a href="/designs" class="continue">Confirm</a>
</html>
