<div class="container">
  <h1>Your Basket</h1>
  <% @products.each do |product| %>
  <div class="row" margin-left: -15px; margin-right: -15px; outline: 10px solid red;>
      <div class="col col-xs-12 col-sm-6 col-lg-8" border: 1px solid red;>
      <h2 align="margin-left"> <%= product.design.name %> </h2>
      <img class= "basketpics" <%= cl_image_tag product.design.photo,:width => 0.4, :crop=>"scale" %> >
      </div>
      <div class="col col-xs-12 col-sm-6 col-lg-8">
        <ul>
          <p><strong> Size: </strong></p>
            <li> <%= product.size %>  </li>
          <p><strong> Quantity: </strong></p>
             <li> <%= product.quantity %> </li>
          <p><strong> Price: </strong></p>
             <li><%= product.unit_price %> </li>
         </ul>
        </div>
      </div>
      <% end %>
    </div>
</div>

