
  <div class="container justify-content-md-center">
    <div class="row">

      <h1>All designs</h1>

      <% if @designs == [] %>
        <div class="search_results">
          <h1>Damn ! we couldn't find the "<%= params[:query] %>" shirt in our wardrobe.</h1>
          <div class ="fface"><%= cl_image_tag "https://res.cloudinary.com/kzkjr/image/upload/v1535725233/Sad-Face-PNG-Pic-279x279.png" %></div>
        </div>

      <% else %>
         <% @designs.each do |design| %>
          <div class="col offset-md-4 col-md-4 col-xs-12">
           <div class="card">
            <div class="card-inner">
              <%= link_to design_path(design) do %>
              <div class="card-title"><p><%= design.name %></p>
              </div>

                  <div class="card-shirt"><%= cl_image_tag(design.photo,:width => 250,:crop => "pad")%></div>
            </div>
            <% end %>

            <div class= "card-price">
              <p>250 DH<p>
              <%= link_to "", design_path(design), class:'fas fa-shopping-cart'  %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>


